.popup__title {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 34px;
    margin-bottom: 54px;
}
@media screen and (max-width: 899px) {
    .popup__title {
        width: 238px;
        height: 22px;
        font-size: 18px;
        line-height: 22px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
}
