.popup__form-container-figure {
    max-width: 75vw;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    position: relative;
    }
@media screen and (max-width: 899px) {
    .popup__form-container-figure {
        position: fixed;
        margin: 0;
        /* width: 282px; */
    }
}