.popup__form-container {
     width: 430px; 
    z-index: 1001;
    border-radius: 10px;
    padding-left: 36px;
    padding-right: 36px;
    
    background-color: #ffffff;
}
@media screen and (max-width: 899px) {
    .popup__form-container {
        position: fixed;
        margin: 0;
        width: 282px;
        
        padding-left: 22px;
        padding-right: 22px;
    }
}
