@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex flex-row justify-content-end">
  <div class="dropdown d-inline-block mx-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonMonth"
      data-bs-toggle="dropdown" aria-expanded="false">
      Месяц
    </button>
    <div class="dropdown-menu dropdown-menu-end" id="dropdownMenuUlMonth" style="height:20rem;"
      aria-labelledby="dropdownMenuButtonYear" data-popper-placement="bottom-end">
    </div>
  </div>

  <div class="dropdown d-inline-block mx-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonYear"
      data-bs-toggle="dropdown" aria-expanded="false">
      Год
    </button>
    <div class="dropdown-menu dropdown-menu-end" id="dropdownMenuUlYear" style="height:20rem;"
      aria-labelledby="dropdownMenuButtonYear" data-popper-placement="bottom-end">
    </div>
  </div>
</div>

<div class="calendar">
</div>

<div class="popup popup_type_waste-list">
  <div class="popup__dackground popup__dackground-dark"></div>
  <div class="popup__container">


    <div class="popup__header">
      <h3 class="popup__title"></h3>
      <button class="popup__button popup__button-add" type="click">Добавить</button>
    </div>


    <div style="height:20rem;" class="waists_list"></div>
    @*<form class="popup__admin popup__admin_profile" name="inform">
    <div class="popup__section">
    <input type="text" placeholder="" class="popup__input popup__input_type_name" name="name" minlength="2"
    maxlength="40" required>
    <span class="popup__input-error"></span>
    </div>
    <div class="popup__section">
    <input type="text" placeholder="" class="popup__input popup__input_type_job" name="about" minlength="2"
    maxlength="200" required>
    <span class="popup__input-error"></span>
    </div>
    <button class="popup__submit-button popup__formsubmit-text" type="submit">Сохранить</button>
    </form>*@

  </div>
</div>

<div class="popup popup_type_waste">
  <div class="popup__dackground  popup__dackground-dark"></div>
  <div class="popup__container">

    <h3 class="popup__title">Трата</h3>
    <form class="popup__current_waste popup__admin_profile d-flex flex-column" name="inform">
      <div class="popup__section">
        <input type="text" placeholder="" class="popup__input popup__input_type_name" name="value" minlength="2"
          maxlength="40" required>
        <span class="popup__input-error"></span>
      </div>
      <div class="popup__section">
        <input type="text" placeholder="" class="popup__input popup__input_type_job" name="category" minlength="2"
          maxlength="200" required>
        <span class="popup__input-error"></span>
      </div>
      <div class="popup__section">
        <input type="text" placeholder="" class="popup__input popup__input_type_name" name="comment" minlength="2"
          maxlength="40" required>
        <span class="popup__input-error"></span>
      </div>
      <button class="popup__button popup__button-submit popup__formsubmit-text" type="submit">Сохранить</button>
    </form>
  </div>

</div>