@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex flex-row justify-content-end">
<div class="dropdown d-inline-block mx-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonMonth" data-bs-toggle="dropdown" aria-expanded="false">
      Месяц
    </button>
    <div class="dropdown-menu dropdown-menu-end" id="dropdownMenuUlMonth" style="height:20rem;" aria-labelledby="dropdownMenuButtonYear" data-popper-placement="bottom-end">
    </div>
  </div>

  <div class="dropdown d-inline-block mx-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonYear" data-bs-toggle="dropdown" aria-expanded="false">
      Год
    </button>
    <div class="dropdown-menu dropdown-menu-end" id="dropdownMenuUlYear" style="height:20rem;" aria-labelledby="dropdownMenuButtonYear" data-popper-placement="bottom-end">
    </div>
  </div>
</div>

<div class="calendar">
</div>

<div class="popup popup_type_profile">
  <div class="popup__form-container popup__form-container_profil">
    <button class="popup__closes popup__closes-profil" type="button"></button>
    <div class="popup__container">
      <h3 class="popup__title">Редактировать профиль</h3>
      <div style="height:20rem; overflow:hidden;" class="waists_list">

      </div>
      @*<form class="popup__admin popup__admin_profile" name="inform">
        <div class="popup__section">
          <input type="text" placeholder="" class="popup__input popup__input_type_name" name="name" minlength="2" maxlength="40" required>
          <span class="popup__input-error"></span>
        </div>
        <div class="popup__section">
          <input type="text" placeholder="" class="popup__input popup__input_type_job" name="about" minlength="2" maxlength="200" required>
          <span class="popup__input-error"></span>
        </div>
        <button class="popup__submit-button popup__formsubmit-text" type="submit">Сохранить</button>
      </form>*@
    </div>
  </div>
</div>