.popup__container {
    background-color: #ffffff;
    border-radius: 10px;
    padding-left: 36px;
}
@media screen and (max-width: 899px) {
    .popup__container {
        padding-left: 22px;
    }
}
